.info-images__div{
  margin: 20px 40px;
  border: 2px solid #919191;
  border-radius: 3px;
  img {
    height: auto;
    transform: translateX(-40%);
  }
}

.info-images-title{
  h5{
    margin: 20px 40px;
  }
}